/* Globals  */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    list-style: none;
    text-decoration: none;
    /* scroll-behavior: smooth; */
    /* scroll-padding: 2rem; */
    font-family: "Protest Riot", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
    
}

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    background-color: rgb(131, 131, 131);
    
  }
  .logo a{
    font-weight: 800;
    font-size: 45px;
    color: rgb(255, 221, 0);
    margin-left: 40px;
  }
  .logo span {
    font-size: 25px;
    color: rgb(255, 255, 255);
  }
 
  .navm a, .navr a {
    display: inline;
    text-align: center;
    margin: 60px;
    font-size: 25px;
    color: white;
  }
  .navm a:hover, .navr a:hover {
    color: rgb(255, 221, 0);
  }


  @media screen and (max-width: 782px) {
    .navigation {
        flex-direction: column;
    }
    .navigation > div {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .navm a, .navr a {
      text-align: center;
      margin: 10px;
        
    }
    .logo {
      text-align: center;
      margin-bottom: 20px;
      margin-left: -50px;
    }
}
  
  


/* CART  */
.cart{
    position: fixed;
    top: 0;
    right: 0;
    right: -100%; 
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    color: rgb(255, 255, 255);
    transition: 1.5s;
    z-index: 1;
    
}
.cart.active{
    right: 0;
    transition: .5s;
    color: black;
    background-color: rgb(255, 252, 231);
    z-index: 1000;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    padding: 10px;
    border-radius: 20px;
}
.detail-box{
    display: grid;
    row-gap: .5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.cart-remove:hover {
    color: red;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem;
}
.btn-buy{
    display: flex;
    margin: 20px 0 40px 130px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #c7c7c7;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: rgb(52, 234, 52);
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#cart-close:hover {
    color: red;
}

.marquee {
    background-color: #000000;
    color: white;
    padding-top: 85px;
}

/* banner Slideshow */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

/* Hide the images by default */
.img {
    display: none;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* Position the dots */
.dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

/* Active dot */
.active {
    background-color: #717171;
}

/* Navigation buttons */
#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: #000000;
    font-weight: bold;
    font-size: 48px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

#prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Button hover effect */
#prev:hover, #next:hover {
    color: white;
    background-color: rgba(119, 119, 119, 0.8);
}


/* box-banner */
.box-banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 3rem;
    padding: 80px 40px 180px 40px;
    background-color: #eaeaea;
    position: relative;
}

.box-banner h1 {
    position: absolute;
    top: 2px;
    left: 10px;
    color: white;
        
    
}

.box-banner div {
    position: relative;
    background-color: #eaeaea;
    border-radius: 10px;
    height: 160%;
    width: 100%;
    
    
}

.box-banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 0 0 20px 20px; */
    border-radius: 10px;
    transition: transform .5s ease-in-out;
}

.box-banner img:hover {
    transform: scale(1.1);
    
}



/* men, women, kid collection header*/

#men-collection, #women-collection, #kid-collection {
    background: #eaeaea;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    
    
}

/* SHOP SECTION  */
/* .shop{
    margin-top: 2rem;
} */

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1rem;
    padding: 12px;
    background-color: #eaeaea;
    padding-top: 50px;
    padding-bottom: 100px;
}
.product-box{
    position: relative;
    background-color: white;
    border-radius: 10px;
    height: 400px;
    width: 250px;
    margin: 20px;
    transition: transform .4s ease-in-out;
    
}
.product-box:hover{
    box-shadow: 1px 6px 3px 0 rgb(185, 185, 185);
    transform: scale(1.1);
}
.product-img{
    width: 90%;
    height: 180px;
    margin: 12px;
    object-fit: cover;
    margin-bottom: .5rem;
    border-radius: 10px;
}
.product-title{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem;

}
.product-price{
    font-size: 20px;
    font-weight: 500;
    margin-left: 2rem;
    color: #555;
}
.add-cart{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 20px;
    padding: 15px 70px 15px 70px;
    margin: 0 30px 8px 30px;
    cursor: pointer;
    border-radius: 10px;
    


}
.add-cart:hover{
    background-color: black;
}

/* cart popup */
.popup {
    display: none;
    position: fixed;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: rgb(0, 0, 0);
    border: .5px solid #000000;
    background-color: rgb(255, 221, 0);
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    z-index: 1000;
    border-radius: 20px;
    font-weight: 600;
    font-size: 25px;
}


/*-----------------------Testimonial -----------------------*/

.testimonial-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 80px 180px 80px;
    text-align: center;
    background-color: #ffffff;
}

.testimonial-container {
    background-color: #ffffff8a;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial-container:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.testimonial-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

.testimonial-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.testimonial-text {
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 200;
    margin: 12px 0;
    color: #777;
}

.testimonial-name {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}



/* footer */

.footer {
    display: flex;
    color: white;
    background-color: rgb(87, 87, 87);
}

.footer div li a {
    color: #ffffff;
    text-decoration: none;
}
.footer > div {
    width: 100%;
    height: 80%;
    margin: 60px;
}

.footer div li a:hover {
    color: rgb(255, 221, 0);
}

.contact {
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contact > i {
    flex-direction: row;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all ease .5s;
    padding: 15px 15px;
}

.contact > i:hover {
    color: black;
    background-color: rgb(255, 221, 0);
    border: 2px solid black;
}


/* Responsive styles using media queries */
@media screen and (max-width: 782px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer > div {
        width: 80%;
        margin-bottom: 20px;
    }
    .contact {
        margin-top: 20px;
    }
}

@media screen and (max-width: 280px) {
    .footer > div {
        width: 90%;
    }
}
.copyright p {
    flex-direction: row;
    color: rgb(255, 255, 255);
    background-color: rgb(87, 87, 87);
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 20px;
    letter-spacing: .5px;
}

/* scroll-to-top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 221, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    color: white;
    background-color: red;
    
  }

  /* bottom-banner */

.bottom-banner {
	text-align: center;
    height: 550px;
    position: relative;
    text-align: center;
    background-color: #eaeaea;
}

.bottom-banner img {
    height: 550px;
    width: 100%;
    object-fit: cover;

}

.bottom-banner-text{
    position: absolute;
    top: 50px;
    left: 250px;
    color: #000000;
    font-weight: 600;
    font-size: 60px;
}
.bottom-banner p {
    position: absolute;
    top: 130px;
    left: 260px;
    color: #1f1f1f;
    font-weight: 300;
    font-size: 30px;
}

